if [ -r ~/.profile ]; then . ~/.profile; fi
#Prevent some unwanted default directory when a new terminal open
cd ~

# Prevent Wine from adding menu entries and desktop links.
export WINEDLLOVERRIDES="winemenubuilder.exe=d"

eval $(ssh-agent)

numlockx &

autorandr --change
#xrandr --auto

#remap verr num to escape key
setxkbmap -option caps:escape

#startup program

pasystray &

nm-applet &

(sleep 1 && sxhkd -c .config/sxhkd/sxhkdrc .config/sxhkd/sxhkdrc_bsp) &

/usr/lib/xfce4/notifyd/xfce4-notifyd &

#disable dpms and screensaver
xset -dpms
xset s off

srandrd autorandr --change

# compositor
picom &
